<div class="container">
<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
    <li class="list-group-item"><%= review.rating %></li>
  <% end %>
</ul>
<%= link_to 'Back', restaurants_path %> 
<%= link_to "Leave a review", new_restaurant_review_path(@restaurant), class: "btn btn-danger main-btns"%>
</div>